#include <jni.h>
#include <string>

extern "C" JNIEXPORT jstring

JNICALL
Java_com_qhala_util_Keys_apiKey(JNIEnv *env, jobject object) {
    std::string api_key = "your_api_key_goes_here";
    return env->NewStringUTF(api_key.c_str());
}